<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ site.description }}{% endblock %}" />
    <link rel="stylesheet" href="../styles/theme1.scss" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script type="module" src="../scripts/main.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
